<?xml version="1.0" encoding="utf-8" ?>

<configuration>

  <startup>

    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />

  </startup>

  <appSettings>

    <!-- Directory where all the IIS logs are written to. None of these files will be modified. -->
    <add key="LogFilesDirectory" value="C:\inetpub\logs\LogFiles\W3SVC1"/>

    <!-- How many Log entries are saved to the DB. IIS comments (lines that start with #) are not counted. -->
    <add key="MaxEntriesToSaveToDatabase" value="100000"/>

    <!-- DB Connection -->
    <add key="ConnectionString" value="Data Source=localhost;Initial Catalog=CompanyDB;Persist Security Info=True;User ID=username;password=password;Connection Timeout=30" />

    <!--DB Table-->
    <add key="DatabaseTable" value="CompanyDB..IISLog" />


  </appSettings>

</configuration>