<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
    </startup>
  <appSettings>
    <add key="LogFilesDirectory" value="C:\inetpub\logs\AdvancedLogs"/>
    <add key="MaxEntriesToSaveToDatabase" value="100000"/>
    <add key="ConnectionString" value="Data Source=1.1.1.1;Initial Catalog=CompanyDB;Persist Security Info=True;User ID=USERID;password=PASSWORD;Connection Timeout=30" />
    <add key="DatabaseTable" value="CompanyDB..IISLog" />
  </appSettings>
  
</configuration>